body { 
	margin: 0; 
	padding: 30px; 
	min-width: 525px;
	background-image: url("../images/45_T.png");
	background-attachment: fixed;
	background-position: bottom right;	
	background-repeat: no-repeat;
	background-size: 100%;
}

#header {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	/*background-color: #fff;*/
}
#footer {
	position:relative;
	float: left;
	width: 100%;
	background-color: #7152F4;
	visibility: hidden;
}
#wrapper {
	float: left;
	width: 100%;
	/*background-color:white;*/
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#left_side {
	float:left; 
	width: 150px;
	height: 500px;
	padding: 15px;
	margin-right: 20px;
	border-right: 1px dotted black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	visibility: hidden;
}
#right_side {
	float: right;
	width:150px;
	height:500px;
	padding: 15px;
	margin-left: 20px;
	/*border-left: 1px dotted black;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}
#content {
}

.floatleft {
	float:left;
	margin: 0px 10px 10px 0px;
}

#left_side li {
	list-style-type: none;
	font-family: serif;
	padding-bottom: 5px;
}
#left_side ul {
	margin: 0px;
	padding: 0px;
}

#right_side li {
	list-style-type: none;
	font-family: serif;
	padding-bottom: 5px;
}
#right_side ul {
	margin: 0px;
	padding: 0px;
}

#right_side a:hover {
	color: #f00;
}

#right_side a:visited{
	/*color: blue;
	text-decoration: none;*/
}

#right_side a:link{
	/*color: blue;*/
	text-decoration: none;
}